html, body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background: white;
  
  }
  
  
  .super-mario{
    width: 400px;
    position:absolute;
  }
  
  .goomba{
    width: 350px;
    position:absolute;
    top:700px
  }
  
  .bowser{
    position:absolute;
    top: 350px;
    right: 80px;
  }
   .word{
     position: relative;
     top: 415px;
     left: 958px;
     z-index: 2;
     font-size: 25px;
   }
  
   .baloon{
    top: 300px;
    left: 930px;
    position: relative;
    z-index: 1;
  
   }