
h3{
    font-style: italic ;
}

.amarelo{
    color: yellow;    
}

.amarelo:hover {
    border: 1px solid yellow;
    }

.roxo{
    color: purple;
}

.roxo:hover {
    border: 1px solid rgb(255, 0, 200);
    }

.complementar{
    color: #FFCBDB;
    font-size: 30px;
    
}

.complementar:hover {
    border: 1px solid #FFCBDB;
    }


.claras{
    color:#98FF98;
   
}

.claras:hover {
    border: 1px solid #98FF98;
    }

   